

//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap.less";

@brand-primary:		@orange;
@brand-secondary:	@purple;
@purple:					#331347;
@offwhite: 				#f4ede9;
@orange:					#FF6C5C;
@khaki:						#D5C2B6;
@font-family-base: 				'Magra', sans-serif;
@font-family-secondary:		'Merriweather', Georgia, serif;
@text-color: 			#665F68;
.section-inverse {
	background-color: @brand-secondary;
	color: @offwhite;
	-webkit-font-smoothing: subpixel-antialiased;
	h2 {
		color: @offwhite;
	}
	h3 {
		color: @brand-primary;
	}
	.btn {
		color: white;
	}
	.btn-default {
		border-color: white;
		&:hover {
			background: transparent;
			color: @brand-primary;
			border-color: @brand-primary;
		}
	}

	.track {
		color: white;
	}

}
.caps {
	text-transform: uppercase;
}
.section-khaki {
	background-color: lighten(@khaki, 10%);
}

.page-inverse {
	background-color: @brand-secondary;
	color: @offwhite;
	h1, h2, h3, h5, p, p.lead, p strong {
		color: @offwhite;
	}
	textarea {
		color: @text-color;
	}
	input { 
		&[type="text"],
		&[type="email"] {
			color: @text-color; 
		}
		&[type="submit"] {
			color: white;
			border-color: white;
			&:hover {
				color: @brand-primary;
				border-color: @brand-primary;
			}
		}
	}
	.well {
		background-color: rgba(0,0,0,.3);
	}
	.content-secondary {
		address strong {
			color: white;
		}
	}
	.social-footer {
		a {
			background-color: rgba(0,0,0,.15);
			color: #fff;
			&:hover {
				background-color: rgba(0,0,0,.5);
			}
		}
	}
}
.round(@size) {
	height: @size;
	width: @size;
	line-height: @size;
	border-radius: @size;
	text-align: center;
	display: inline-block;
}
.anchor {
	position: absolute;
	top: -110px;
	left: 0;
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);
	
  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  // #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
  // background-repeat: repeat-x;
  // border-color: darken(@btn-color, 14%);
	background-color: transparent;
	border: 2px solid @brand-secondary;
	border-radius: 2px;
	color: @brand-secondary;
	text-shadow: none;
	.box-shadow(none);
	.transition(all .3s);
  &:hover,
  &:focus  {
    background: transparent;
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &:disabled,
  &[disabled] {
    background-color: darken(@btn-color, 12%);
    background-image: none;
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg);}
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }
.btn-cta		 {background-color: @brand-primary; color: #fff; border: none;}
input[type="submit"] { .btn-styles(@btn-primary-bg); }
//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  // #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  // @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
//   .box-shadow(@shadow);

  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  // text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-inverse {
  // #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
	-webkit-font-smoothing: subpixel-antialiased;
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
    }
  }
}




//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
  border: none;
}

// Mixin for generating new styles
.alert-styles(@color) {
  // #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);

  .badge {
    text-shadow: none;
  }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


//
// Wells
// --------------------------------------------------

.well {
  // #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  // border-color: darken(@well-bg, 10%);
  // @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  // .box-shadow(@shadow);
	border: none;
	.box-shadow(none);
	text-align: center;
	padding: 20px;
}

@media (max-width: @screen-xs-max) {
	#wpadminbar {
		position: relative;
	}
}

@media (min-width: @screen-sm-min) {
	.admin-bar {
		padding-top: 29px;
		.navbar-fixed-top {
			top: 29px;
		}
	}
}

.breadcrumb {
	display: none;
}


// ------------------------------------------------- // Table 

.track-row(@color) {
	h4 {
		color: @color;
	}
}


// ------------------------------------------------- // Typography

body {
	font-family: 'Magra', sans-serif;
	font-size: 16px;
	padding-top: 100px;
	color: #665F68;
	line-height: @line-height-base;
}

body.admin-bar {
	padding-top: 100px;
}

body.home {
	padding-top: 0;
}

section {
	padding-top: @grid-gutter-width*2;
	padding-bottom: @grid-gutter-width*2;
	
}

h1, h2, h3, h4, h5, p, ul, ol, address, blockquote {
	margin-top: @grid-gutter-width/2;
	margin-bottom: @grid-gutter-width/2;
}

p, ol, ul, blockquote, address {
	font-family: @font-family-secondary;
	font-size: @font-size-base;
	line-height: @line-height-base;
}
em {
	font-style: italic;
}
.home {
	h1, h2, h3, {
		text-align: center;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 3.6em;
		letter-spacing: -1px;
		text-align: center;
		margin-bottom: 1em;
	}
	h3 {
		font-size: 2em;
		color: @brand-primary;
	}
}


// ---------------------------------------------------- // Site Content 




// ------------------------------------------------- // GLOBAL NAV

#masthead {
	.navbar {
		background-color: @brand-secondary;
		border: none;
		.box-shadow(0 2px 20px rgba(0,0,0,.3));
		// .box-shadow(0 3px 0 rgba(0,0,0,.2));
		@media (max-width: @screen-xs-max) {
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.navbar-nav > li.cta {
		@media (min-width: @screen-sm-min) {
			float: right;
		}
		> a {
			background-color: @brand-primary;
			color: #fff;
			&:hover {
				background-color: darken(@brand-primary, 5%);
			}
		}
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
		&.active {
			> a {
				background-color: rgba(0,0,0,.3);
				color: white;
			}
		}
		@media (max-width: @screen-xs-max) {
			display: block;
		}
	}
	.navbar-nav > li > a {
		color: darken(@offwhite, 10%);
		font-size: 16px;
		float: none;
	}
	.navbar-brand {
		color: @brand-primary;
	}
}
@media (min-width: @screen-sm-min) {
	.navbar-brand {
		padding-top: 28px;
		padding-bottom: 28px;
	}
	.navbar-nav > li > a {
		padding-top: 28px;
		padding-bottom: 28px;
	}
}

.btn-cta {
	font-size: 40px;
	margin: 1em auto 0;
	.make-xs-column(12);
	.make-sm-column(6);
	.make-sm-column-offset(3);
	.box-shadow(0 3px 0 rgba(0,0,0,.2));
	&:hover {
		background-color: darken(@brand-primary, 5%);
	}
}

.content-full-width {
	.make-xs-column(12);
	.make-sm-column(10);
	.make-sm-column-offset(1);
	.make-md-column(10);
	.make-md-column-offset(1);
}

.content-secondary {
	h1, h2, h3, h4, h5, h6 {
		color: #331347;
	}
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.6em;
		color: @brand-primary;
	}
	h3 {
		font-size: 1.3em;
		
	}
	h4 {
		font-size: 1.2em;
	}
	p, ul, ol, blockquote, address, form {
		font-family: @font-family-secondary;
		line-height: 1.5em;
		strong {
			color: lighten(@brand-secondary, 15%);
		}
	}
	p.lead {
		font-size: 1.25em;
		color: #591687;
	}
	blockquote {
		border-left: 0;
		position: relative;
		padding-left: 30px;
		&:before {
			font-family: 'FontAwesome';
			font-size: 1.5em;
			color: #e5e5e5;
			content: "\f10d";
			position: absolute;
			left: 0;
			top:0;
		}
	}
	ol, ul {
		li {
			margin-bottom: .5em;
		}
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			position: relative;
			margin-left: 12px;
			&:before {
				content: "\f054";
				font-family: 'FontAwesome';
				font-size: 7px;
				height: 20px;
				width: 20px;
				position: absolute;
				left: -12px;
				top:0;
				z-index: 1;
				color: @brand-primary;
			}
		}
	}
}



// ---------------------------------------------------- // STAY INFORMED

#email-updates {
	padding-bottom: 30px;
	background: url("../images/bg-email.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	h2 {
		margin-bottom:.4em;
	}
	.well {
		.make-sm-column(8);
		.make-sm-column-offset(2);
		.make-md-column(6);
		.make-md-column-offset(3);
		background-color: rgba(255,255,255,.1);
	}
	.input-group {
		width: 100%;
		input[type="email"] {
			display: inline-block;
			width: 78%;
			margin-right: 2%;
			height: 44px;
			border-radius: 2px;
			font-size: 18px;
		}
		.btn {
			display: inline-block;
			width: 20%;
			
		}
	}
}


// ---------------------------------------------------- // FOOTER REGISTRATION

#footer-register {
	padding: 0;
	margin-top: 2em;
	.btn {
		width: 100%;
		font-size: 2em;
		padding-top: 20px;
		padding-bottom: 20px;
		.transition(all .5s);
		&:hover {
			background-color: darken(@brand-primary, 10%);
		}
	}
}


// ----------------------------------------------------- // PAGE HEADER 

header.page-header {
	border-bottom: none;
}


// ----------------------------------------------------- // GLOBAL FOOTER 

#global-footer {
	
	padding-top: @grid-gutter-width;
	padding-bottom: @grid-gutter-width;
	margin-top: 3em;
	p {
		// color: darken(#E3D1C4, 20%);
		color: #aaa;
	}
}
.copyright {
	.make-sm-column(6);
	@media (max-width: @screen-xs-max) {
		text-align: center;
	}
}

.social-footer {
	.make-sm-column(6);
	text-align: right;
	margin-top: -5px;
	@media (max-width: @screen-xs-max) {
		text-align: center;
	}
	p {
		margin: 0;
	}
	a {
		display: inline-block;
		.round(44px);
		margin: 5px;
		background-color: rgba(0,0,0,.05);
		background-color: #eee;
		color: @text-color;
	}
}
.home {
	#global-footer {
		margin-top: 0;
	}
}

@import "home.less";


// ------------------------------------------------- SCHEDULE

// Track Mixin //
.track(@color) {
	border-color: @color;
	border: none;
	background-color: lighten(@color, 40%);
	padding-bottom: 20px;
	border-top: 4px solid @color;
	a {
		color: @color;
	}
	h4 { 
		color: @color;
	}
	.speakers {
		.opacity(.8);
	}
	.opacity(.9);
	.transition(all .3s);
	
	.btn {
		color: @color;
		border: 1px solid @color;
		margin-bottom: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		@media (min-width: @screen-md-min) {
			.opacity(.7);
		}
		.transition(opacity .3s);
	}
	&:hover {
		text-decoration: none;
		.opacity(1);
		background: rgba(0,0,0,.1);
		.btn {
			.opacity(1);
		}
	}
	ul {
		li {
			&:before {
				color: @color;
			}
		}
	}
}

#schedule {
	text-align: center;
	
	.choose {
		color: @brand-primary;
		font-family: @font-family-secondary;
		font-style: italic;
	}
	
	.day {
		margin-bottom: @grid-gutter-width;
		padding: @grid-gutter-width;
	}
	
	.track {
		display: block;
		color: @text-color;
		margin-bottom: 2em;
		border-radius: 3px;
		border: 3px solid #000;
		position: relative;
		
		h4 {
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		h5 {
			font-size: 24px;
		}
		.track-speakers,
		.track-room {
			padding-top: @grid-gutter-width*1.5;
		}
		.description {
			font-size: .9em;
		}
		&.track-blue {
			.track(lighten(@blue, 10%));
		}
		&.track-yellow {
			.track(@yellow);
			background-color: lighten(@yellow, 45%);
			h4 {
				color: #E5E71A;
			}
			a {
				color: darken(#E5E71A, 10%);
			}
			ul {
				li {
					&:before {
						color: darken(#E5E71A, 10%);
					}
				}
			}
		}
		&.track-red {
			.track(@red);
		}
		&.track-green {
			.track(@green);
		}
	}
	&.schedule-secondary {
		padding-top: 0;
		h3 {
			font-size: 2.3em;
			margin: 1em 0 1em;
		}
		.track {
			&:hover {
				text-decoration: none;
				.opacity(1);
				background: white;
			}
		}
		.track-speakers {
			font-size: 1.2em;
		}
		hr {
			margin-top: @grid-gutter-width*2;
			margin-bottom: @grid-gutter-width*2;
		}
		.time {
			font-size: 1.5em;
			color: lighten(@text-color, 20%);
			.make-row();
			margin: 1.5em 0;
			&.session {
				color: @brand-primary;
			}
			.timestamp {
				.make-xs-column(6);
				text-align: right;
			}
			strong {
				font-weight: normal;
				.make-xs-column(6);
				text-align: left;
			}
		}
	}
}

.page-schedule {
	// To make the schedule background purple, just remove the comment below
	// .page-inverse;
}

.list-speakers {
	text-align: left;
	margin-left: 20px;
}

.home {
	#schedule {
		h3 {
			margin-bottom: 1em;
		}
		.section-inverse;
		.time {
			font-size: 1.4em;
			strong {
				margin-left: 10px;
				// display: block;
				margin-top: .6em;
				font-size: 1.3em;
				font-weight: normal;
				a {
					color: #fff;
				}
			}
		}
		.track {
			&.track-yellow {
				.track(@yellow);
				background-color: transparent;
				border: 1px solid @yellow;
				h4 {
					color: #E5E71A;
				}
				a {
					color: darken(#E5E71A, 10%);
				}
				ul {
					li {
						&:before {
							color: darken(#E5E71A, 10%);
						}
					}
				}
			}
			&.track-red {
				.track(@red);
				background-color: transparent;
				border: 1px solid @red;
			}
			&.track-green {
				.track(@green);
				background-color: transparent;
				border: 1px solid @green;
			}
			&.track-blue {
				.track(@blue);
				background-color: transparent;
				border: 1px solid @blue;
			}
		}
	}
}

// Speaker Bios
// ----------------------------------------------------

.speaker-bio {
	margin-bottom: 2em;
	.make-row();
	.role {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .9em;
		font-family: @font-family-base;
	}
	.speaker-photo {
		.make-sm-column(3);
		img {
			width: 85%;
			margin: 1em auto;
			border: 6px solid @brand-primary;
			@media (min-width: @screen-md-min) {
				border: 8px solid @brand-primary;
			}
		}
		@media (max-width: @screen-xs-max) {
			img {
				max-width: 200px;
			}
		}
	}
	.bio {
		.make-sm-column(9);
		h3 {
			position: relative;
			span {
				position: absolute;
				top: -110px;
			}
		}
	}
}

// FAQs 
// --------------------------------------------------
.qafp-faqs {
	input#qasearch {
		width: 70%;
		display: inline-block;
		margin-bottom: @grid-gutter-width;
	}
	#qafp_searchform {
		display: none;
	}
	.qafp-category {
		padding: 0 0 1em;
		// border-bottom: 1px dotted #ddd;
	}
	h3.faq-catname {
		color: @text-color;
		font-size: 1.45em;
		margin-bottom: 10px !important;
	}
	.qafp-faq-title {
		margin-bottom: 0 !important;
		position: relative;
		&:before {
			content: "\f054";
			font-family: 'FontAwesome';
			font-size: 7px;
			height: 20px;
			width: 20px;
			position: absolute;
			left: -10px;
			top: 10px;
			z-index: 1;
			color: #aaa;
		}
	}
	.qafp-faq-anchor {
		font-weight: normal;
		font-size: .9em;
		font-family: @font-family-secondary;
	}
	.qafp-faq-answer {
		font-family: @font-family-secondary;
		font-size: .85em;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.qafp-comments {
		display: none;
	}
}

.sitemap {
	margin-left: -15px;
}

.login {
	h1 {
		a {
			background-image: url('../images/logo.svg');
		}
	}
}
.qafp-category#schedule {
	background-color: transparent;
	text-align: left;
	h3 {
		color: @text-color;
	}
}



// -------------------------------------------------------- Contact Us
.page-contact-us, 
.page-contact {
	background: url("../images/laptop-girl.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.page-inverse;
	
	.well {
		.fa {
			font-size: 24px;
			background-color: rgba(0,0,0,.2);
			.round(44px);
			margin: 5px;
			color: white;
			.transition(all .3s);
			&:hover {
				background-color: rgba(0,0,0,.8);
			}
		}
	}
}

// -------------------------------------------------------- Adslice
#adslice {
	background-color: darken(@brand-secondary, 8%);
	text-align: center;
	.adslice-text {
		margin: 0 20px -20px 0;
		position: relative;
		display: block;
		line-height: 50px;
		text-align: center;
		color: #fff;
		color: @brand-primary;
		display: inline-block;
	}
	.is-countdown {
		border:none;
		background-color: transparent;
		display: inline-block;
		top: -10px;
		position: relative;
	}
	.countdown-section {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
		display: inline-block;
	}
	.countdown-amount {
		color: #fff;
		display: inline-block;
	}
	.countdown-period {
		color: rgba(255,255,255,.7);
		display: inline-block;
		margin-left: 3px;
	}
	.btn-primary {
		border-color: @brand-primary;
		color: @brand-primary;
		&:hover {
			border-color: darken(@brand-primary, 15%);
			color: #fff;
		}
	}
}

// --------------------------------------------------------- Live

body#live {
	// background: #FF6C5C;
	background: #f8f8f8;
	.pipe {
		font-style: normal;
		color: #ccc;
		margin: 0 5px;
	}
	&.customize-support {
		.navbar {
			margin-top: 30px;
		}
	}

	// a {
	// 	color: @brand-secondary;
	// 	&:hover {
	// 		color: lighten(@brand-secondary, 10%);
	// 	}
	// }
	
	// h1, h2, h3, h4, h5, h6 {
	// 	color: #fff;
	// }
	// #main article.page {
	// 	padding-top: 0;
	// 	header {
	// 		h1 {
	// 			color: #fff;
	// 			margin-top: 0;
	// 		}
	// 	}
	// }
	#toolbar-nav {
		.navbar-nav > li {
			> a:after {
				margin-left: 0;
				margin-right: 0;
				content: "";
			}
			> a {
				padding: 10px!important;
				margin: 0px !important;
			}
			&.menu-item-donate {
				> a {
					background-color: darken(@red, 10%);
					color: @brand-secondary;
					&:hover {
						background-color: darken(@red, 5%);
					}
				}
			}
		}
	}
	
	.carousel {
	  .item {
	    left: 0 !important;
	    .transition(opacity .4s); //adjust timing here
	  }
	  .carousel-control {
	    background-image: none; // remove background gradients on controls
	  }
	  // Fade controls with items
	  .next.left,
	  .prev.right {
	    opacity: 1;
	    z-index: 1;
	  }
	  .active.left,
	  .active.right {
	    opacity: 0;
	    z-index: 2;
	  }
		.carousel-control {
			color: #fff;
			font-size: 20px;
			.fa {
				top: 50%;
				position: absolute;
			}
			&.right {
				margin-right: -10px;
			}
			&.left {
				margin-left: -24px;
			}
		}
	}
	.table {
		td, th {
			background-color: #fff;
		}
	}
	// .table {
	// 	background: transparent;
	// 	border-color: darken(@red, 5%);;
	// 	td, th {
	// 		background-color: #83233C;
	// 		background-color: rgba(0,0,0,.1);
	// 		border-color:darken(@red, 5%);;
	// 		color: #fff;
	// 	}
	// 	.column-session {
	// 		width: 70%;
	// 	}
	// 	.column-time {
	// 		width: 30%;
	// 	}
	// }
	#main article.page section.post_content .live-placeholder {
		background-color: #333;
		background-image: url('../img/live-placeholder-bg.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		
		padding: 50px;
		min-height: 360px;
		.box-sizing(border-box);
		text-align: center;
		border-radius: 2px;
		h2 {
			font-size: 1.5em;
			line-height: 1.7em;
		}
	}
	.gform_wrapper {
		background-color: rgba(0,0,0,.2);
		background-color: #fff;
		color: @text-color;
		padding: @grid-gutter-width*2;
		max-width: 100%;
		input[type=text],
		input[type=email],
		input[type=url],
		input[type=tel],
		input[type=number],
		input[type=password] {
			padding: 5px;
			color: @text-color;
			font-size: 1em;
			font-family: @font-family-base;
			
		}
		h3.gform_title {
			color: @text-color;
		}
		.top_label {
			.gfield_label {
				margin-top: 30px;
				font-family: @font-family-base;
			}
		}
		.ginput_complex {
			label {
				text-transform: uppercase;
				font-family: @font-family-base;
				color: @text-color;
			}
		}
		input[type="submit"] {
			background-color: lighten(@brand-primary, 10%);
			.transition(all .5s);
			&:hover {
				background-color: lighten(@brand-primary, 30%);
			}
		}
	}
	.credit {
		padding-top: 2em;
		display: block;
	}
	@media (max-width: @screen-sm) {
		.gform_wrapper {
			padding: 10px 20px;
		}
		
	}
}

body#live {
	@media (min-width: @screen-sm) {

		.veilmainimage {
			width: 100% !important;
		}
	}
}

.btn.btn-lg.btn-full-width {
	background-color: #FF6C5C;
	color: #fff;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
	display: block;
	&:hover {
		background-color: darken(#FF6C5C, 10%);
	}
}

